/* .item {
    width: 30%;
    margin-bottom: 30px;
    background: whitesmoke;
    overflow: hidden;
  }

  .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
  } */